*{
    font-family: sans-serif;
}
body {
    height: 100%;
    background-color: rgba(181, 208, 161, 1);
    
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 50px auto 1fr;

    grid-template-areas:
    ".          .           ."
    ".          content     ."
    " footer    footer      footer";
}

#contenido {
    padding: 50px;
    grid-area: content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#titulo1 {
    color: rgba(32, 106, 1, 1);
    font-size: 48px;
}

.ingresoDatos {
    display: flex;
    width: 30px;
    padding: 5px;
    
    color: rgba(32, 106, 1, 1);
    font-size: 24px;
    background-color: rgba(181, 208, 161, 1);
}

.ingresoDatos::placeholder{
    color: rgba(32, 106, 1, 1);
    font-size: 24px;
}

#hills {
    width: 200px;
    grid-area: footer;
    background-image: url(../images/montañas.png);
    background-position: center;
    background-size: cover;
}